In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('../data/retail_store_sales.csv')
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,NaN
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,NaN
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,NaN

In [44]:
print(df.describe())

       Price Per Unit      Quantity   Total Spent
count    11966.000000  11971.000000  11971.000000
mean        23.365912      5.536380    129.652577
std         10.743519      2.857883     94.750697
min          5.000000      1.000000      5.000000
25%         14.000000      3.000000     51.000000
50%         23.000000      6.000000    108.500000
75%         33.500000      8.000000    192.000000
max         41.000000     10.000000    410.000000

In [45]:
df = df.fillna('')
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,

In [46]:
df.drop_duplicates(inplace = True)
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,

In [47]:
df['Transaction ID'] = df['Transaction ID'].str.strip()
transID_format_mask = (
    (df['Transaction ID'].str[:4] != 'TXN_') | 
    (df['Transaction ID'].str.len() != 11) | 
    (~df['Transaction ID'].str[4:].str.isnumeric())
    )

filtered_transID_format = [item for item in transID_format_mask if item]
filtered_transID_format

[]

All cells in *Transaction ID* meet required format.

In [48]:
df['Customer ID'] = df['Customer ID'].str.strip()
customerID_format_mask = (
    (df['Customer ID'].str[:5] != 'CUST_') | 
    (df['Customer ID'].str.len() != 7) | 
    (~df['Customer ID'].str[5:].str.isnumeric())
    )

filtered_customerID_format = [(idx, item) for idx, item in customerID_format_mask.items() if item]
filtered_customerID_format

[]

All cells in *Customer ID* meet required format.

In [49]:
df['Category'] = df['Category'].str.strip()
unique_categories = df['Category'].unique()
unique_categories

array(['Patisserie', 'Milk Products', 'Butchers', 'Beverages', 'Food',
       'Furniture', 'Electric household essentials',
       'Computers and electric accessories'], dtype=object)

No information to clean in *Category*.

In [50]:
df['Item'] = df['Item'].str.strip()
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,

In [51]:
unique_item = df['Item'].unique()
unique_item

array(['Item_10_PAT', 'Item_17_MILK', 'Item_12_BUT', 'Item_16_BEV',
       'Item_6_FOOD', '', 'Item_1_FOOD', 'Item_16_FUR', 'Item_22_BUT',
       'Item_3_BUT', 'Item_2_FOOD', 'Item_24_PAT', 'Item_16_MILK',
       'Item_17_PAT', 'Item_13_EHE', 'Item_7_BEV', 'Item_4_EHE',
       'Item_10_FOOD', 'Item_14_FUR', 'Item_20_BUT', 'Item_25_FUR',
       'Item_14_FOOD', 'Item_22_PAT', 'Item_11_FOOD', 'Item_6_PAT',
       'Item_21_EHE', 'Item_25_BEV', 'Item_23_FOOD', 'Item_10_FUR',
       'Item_11_BEV', 'Item_23_BUT', 'Item_22_BEV', 'Item_10_EHE',
       'Item_24_BUT', 'Item_8_BEV', 'Item_3_FOOD', 'Item_12_FOOD',
       'Item_16_CEA', 'Item_11_PAT', 'Item_16_BUT', 'Item_5_CEA',
       'Item_19_MILK', 'Item_23_FUR', 'Item_7_FUR', 'Item_15_CEA',
       'Item_6_MILK', 'Item_24_CEA', 'Item_22_CEA', 'Item_22_FOOD',
       'Item_2_BUT', 'Item_14_PAT', 'Item_12_PAT', 'Item_18_FOOD',
       'Item_1_PAT', 'Item_4_BEV', 'Item_22_FUR', 'Item_7_PAT',
       'Item_20_CEA', 'Item_20_FOOD', 'Item_11_FUR', 'Item_25_PAT',
       'Item_7_FOOD', 'Item_21_FUR', 'Item_24_FUR', 'Item_8_MILK',
       'Item_4_FOOD', 'Item_14_BEV', 'Item_4_PAT', 'Item_4_MILK',
       'Item_7_CEA', 'Item_6_EHE', 'Item_21_BUT', 'Item_16_PAT',
       'Item_25_CEA', 'Item_8_BUT', 'Item_10_CEA', 'Item_5_FUR',
       'Item_9_FOOD', 'Item_21_CEA', 'Item_8_CEA', 'Item_8_EHE',
       'Item_23_MILK', 'Item_23_BEV', 'Item_19_BEV', 'Item_20_BEV',
       'Item_24_FOOD', 'Item_21_MILK', 'Item_6_BEV', 'Item_1_MILK',
       'Item_24_MILK', 'Item_2_CEA', 'Item_18_BUT', 'Item_1_FUR',
       'Item_3_MILK', 'Item_11_MILK', 'Item_13_CEA', 'Item_6_CEA',
       'Item_2_FUR', 'Item_21_BEV', 'Item_8_FUR', 'Item_13_BUT',
       'Item_2_BEV', 'Item_7_EHE', 'Item_14_CEA', 'Item_19_EHE',
       'Item_18_CEA', 'Item_11_CEA', 'Item_17_FUR', 'Item_15_MILK',
       'Item_20_EHE', 'Item_16_EHE', 'Item_23_EHE', 'Item_7_BUT',
       'Item_1_EHE', 'Item_19_CEA', 'Item_25_FOOD', 'Item_12_EHE',
       'Item_22_EHE', 'Item_13_PAT', 'Item_17_EHE', 'Item_25_BUT',
       'Item_4_CEA', 'Item_2_MILK', 'Item_1_BUT', 'Item_12_BEV',
       'Item_5_FOOD', 'Item_25_EHE', 'Item_9_CEA', 'Item_1_CEA',
       'Item_15_FUR', 'Item_15_PAT', 'Item_5_EHE', 'Item_1_BEV',
       'Item_17_BUT', 'Item_3_BEV', 'Item_13_FOOD', 'Item_11_EHE',
       'Item_9_MILK', 'Item_17_FOOD', 'Item_20_PAT', 'Item_9_PAT',
       'Item_10_BEV', 'Item_17_CEA', 'Item_8_PAT', 'Item_13_MILK',
       'Item_5_BUT', 'Item_22_MILK', 'Item_4_FUR', 'Item_17_BEV',
       'Item_19_PAT', 'Item_2_PAT', 'Item_14_BUT', 'Item_20_FUR',
       'Item_6_BUT', 'Item_9_FUR', 'Item_12_CEA', 'Item_15_EHE',
       'Item_5_PAT', 'Item_18_MILK', 'Item_6_FUR', 'Item_24_BEV',
       'Item_14_MILK', 'Item_12_FUR', 'Item_18_BEV', 'Item_23_CEA',
       'Item_24_EHE', 'Item_2_EHE', 'Item_23_PAT', 'Item_15_FOOD',
       'Item_8_FOOD', 'Item_15_BEV', 'Item_20_MILK', 'Item_9_EHE',
       'Item_11_BUT', 'Item_18_EHE', 'Item_5_MILK', 'Item_3_FUR',
       'Item_19_BUT', 'Item_3_CEA', 'Item_19_FUR', 'Item_7_MILK',
       'Item_9_BEV', 'Item_10_BUT', 'Item_18_FUR', 'Item_25_MILK',
       'Item_4_BUT', 'Item_15_BUT', 'Item_21_PAT', 'Item_21_FOOD',
       'Item_13_BEV', 'Item_5_BEV', 'Item_3_PAT', 'Item_13_FUR',
       'Item_18_PAT', 'Item_12_MILK', 'Item_10_MILK', 'Item_16_FOOD',
       'Item_19_FOOD', 'Item_14_EHE', 'Item_3_EHE', 'Item_9_BUT'],
      dtype=object)

Not possible to reconstruct missing data in *Item* column. Item codes have subtypes and do not map directly to the *Category* field. For instance, 'Item_11_FOOD', 'Item_23_FOOD', 'Item_3_FOOD' are all mapped to 'Food' within the field *Category*.

In [52]:
length_before = df.shape[0]
df = df[df['Item'] != '']
length_after = df.shape[0] 
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,

In [53]:
num_removed_rows = length_before - length_after
print('Number of Rows Removed: ', num_removed_rows, '| Percentage of Rows Removed: ', num_removed_rows / length_before)

Number of Rows Removed:  1213 | Percentage of Rows Removed:  0.09646123260437375

In [54]:
unique_price = df['Price Per Unit'].unique()
unique_price

array([18.5, 29.0, 21.5, 27.5, 12.5, 5.0, 36.5, 8.0, 6.5, 39.5, 23.0,
       14.0, 9.5, 24.5, 33.5, 41.0, 20.0, 35.0, 38.0, 15.5, 11.0, 32.0,
       26.0, 30.5, 17.0], dtype=object)

In [55]:
column = 'Price Per Unit'

min = df[column].quantile(0.0)
b = df[column].quantile(0.1)
c = df[column].quantile(0.25)
mean = df[column].quantile(0.5)
e = df[column].quantile(0.75)
f = df[column].quantile(0.90)
max = df[column].quantile(1.0)

quantiles = {
    'min': min,
    '10%': b,
    '25%': c,
    'mean': mean,
    '75%': e,
    '90%': f,
    'max': max,
}

print(quantiles)

{'min': 5.0, '10%': 8.0, '25%': 14.0, 'mean': 23.0, '75%': 33.5, '90%': 38.0, 'max': 41.0}

No information to clean in *Price Per Item*.

In [56]:
unique_quantity = df['Quantity'].unique()
unique_quantity

array([10.0, 9.0, 2.0, 7.0, 8.0, 1.0, 3.0, 6.0, 4.0, 5.0], dtype=object)

In [57]:
column = 'Quantity'

min = df[column].quantile(0.0)
b = df[column].quantile(0.1)
c = df[column].quantile(0.25)
mean = df[column].quantile(0.5)
e = df[column].quantile(0.75)
f = df[column].quantile(0.90)
max = df[column].quantile(1.0)

quantiles = {
    'min': min,
    '10%': b,
    '25%': c,
    'mean': mean,
    '75%': e,
    '90%': f,
    'max': max,
}

print(quantiles)

{'min': 1.0, '10%': 2.0, '25%': 3.0, 'mean': 6.0, '75%': 8.0, '90%': 10.0, 'max': 10.0}

No information to clean in *Quantity*

In [58]:
df['Total Spent Recalc'] = df['Price Per Unit'] * df['Quantity']
df['Total Spent Check'] = df['Total Spent'] - df['Total Spent Recalc']
df

C:\Users\junai\AppData\Local\Temp\ipykernel_23424\300710965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Spent Recalc'] = df['Price Per Unit'] * df['Quantity']
C:\Users\junai\AppData\Local\Temp\ipykernel_23424\300710965.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total Spent Check'] = df['Total Spent'] - df['Total Spent Recalc']

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied,Total Spent Recalc,Total Spent Check
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True,185.0,0.0
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True,261.0,0.0
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False,43.0,0.0
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,,247.5,0.0
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False,87.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,,152.0,0.0
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False,58.5,0.0
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,,140.0,0.0
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True,84.0,0.0
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,,51.0,0.0

In [59]:
total_spent_check_mask = (
    (df['Total Spent Check'] != 0)
    )

total_spent_check_mask

filtered_total_spent_check = [(idx, item) for idx, item in total_spent_check_mask.items() if item]
print(len(filtered_total_spent_check))
print(filtered_total_spent_check)

0
[]

In [ ]:
df = df.drop(columns =['Total Spent Recalc', 'Total Spent Check'])
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied,Total Spent Recalc,Total Spent Check
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True,185.0,0.0
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True,261.0,0.0
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False,43.0,0.0
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,,247.5,0.0
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False,87.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,,152.0,0.0
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False,58.5,0.0
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,,140.0,0.0
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True,84.0,0.0
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,,51.0,0.0